.adress{ 
    display: flex;
    flex-direction: column;
    gap: var(--space-small);

    &__main{
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        align-items: center;
        gap: var(--space-small);
        @media(max-width:900px){
            grid-template-columns: 1fr;
        }
    }

    &__text{
        text-align: end;
        @media(max-width:900px){
            text-align: start;
        }
    }

    &__map-iframe{
        width: 100%;
        height: clamp(400px, calc(400px + (600 - 400) * ((100vw - 900px) / (1280 - 900))), 600px);
    }
    
    &__images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: var(--space-small);
        grid-template-areas: "image1 image2 image3";
        @media(max-width:900px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "image1 image2"
            "image3 image3";
        }
    }
    &__img{
        width: 100%;
    }
    &__image-contaner1{
        grid-area: image1;
    }
    &__image-contaner2{
        grid-area: image2;
    }
    &__image-contaner3{
        grid-area: image3;
    }
    @media(max-width:900px){
        &__image-contaner{
        width: 100%;
        height: clamp(130px, calc(130px + (400 - 130) * ((100vw - 375px) / (1280 - 375))), 400px);
        overflow: hidden;
        }
        &__img{
            //width: 100%;
            height: clamp(130px, calc(130px + (400 - 130) * ((100vw - 375px) / (1280 - 375))), 400px);
            object-fit: cover;
            object-position: center center;
        }
    }    
}