.button{
    padding: 12px 48px;
    border: solid 1px var(--orange);
    transition: 100ms linear;
    box-shadow: var(--shadow-orange);
    &:hover{
        color: var(--white);
        background-color: var(--orange);
    }
}