.header{
    &__top{
        background-color: var(--brown);
        *{
            color: white;
        }
    }   
    // исправить удалить заменить потом
    &__a{
        color: var(--white);
        font-size: var(--font-ps);
        text-transform: uppercase;
    }
}