@use './variables' as *;

@font-face{
    src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2'),
        url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-family: "Montserrat";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: var(--font-p);
    color: var(--brown);
}

a{
    text-decoration: none;
}

.h1{
    font-size: var(--font-h1);
    color: var(--black);
}

.h2{
    font-size: var(--font-h2);
}

.ps{
    font-size: var(--font-ps);
}
