@font-face{
    src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2'),
        url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-family: "Montserrat";
    font-weight: 100 900;
    font-style: normal;
}

*{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: var(--font-p);
    color: var(--brown);
    text-decoration: none;
}

.title{
    font-family: 'Montserrat';
    font-size: var(--font-h1);
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.subtitle{
    font-family: 'Montserrat';
    font-size: var(--font-h2);
    color: var(--brown);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.link-nav{
    font-family: 'Montserrat';
    font-size: var(--font-p);
    color: var(--brown);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.link-accent{
    &::before{
        content: url(../images/arrow-right.svg);
        margin-right: 6px;
    }
}
.link-usual{
    font-family: 'Montserrat';
    font-size: var(--font-p);
    color: var(--brown);
    font-weight: 500;
    text-decoration: underline;
}
.link-muted{
    font-family: 'Montserrat';
    font-size: var(--font-p);
    color: var(--gray);
    font-weight: 500;
    text-decoration: underline;
}

.text-usual{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: var(--font-p);
    color: var(--brown);
}
.text-content{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: var(--font-p);
    color: var(--brown);
}
.text-muted{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: var(--font-p);
    color: var(--gray);
}

.text-accent{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: var(--font-p);
    color: var(--orange);
    text-transform: uppercase;
}

.button{
    color: var(--orange);
}