:root{
    --brown:#391707;
    --orange:#FF9705;
    --yellow:#FECC00;
    --gray:#999999; 
    --white:white;
    --black:black;

    --font-h1: clamp(24px, calc(24px + (32 - 24) * ((100vw - 375px) / (1280 - 375))), 32px);
    --font-h2: clamp(20px, calc(20px + (24 - 20) * ((100vw - 375px) / (1280 - 375))), 24px);
    --font-p: clamp(16px, calc(16px + (20 - 16) * ((100vw - 375px) / (1280 - 375))), 20px);
    --font-ps: clamp(14px, calc(14px + (16 - 14) * ((100vw - 375px) / (1280 - 375))), 16px);

    --space-page: clamp(12px, calc(12px + (300 - 12) * ((100vw - 375px) / (1920 - 375))), 300px);
    --space-section: clamp(24px, calc(24px + (92 - 24) * ((100vw - 900px) / (1920 - 900))), 92px);
    --space-small: clamp(12px, calc(12px + (24 - 12) * ((100vw - 900px) / (1280 - 900))), 24px);
    --space-medium: clamp(24px, calc(24px + (48 - 24) * ((100vw - 900px) / (1280 - 900))), 48px);

    --shadow-orange: 0px 0px 12px rgba(255, 151, 5, 0.45);

}
