.companies{
    padding: var(--space-small) var(--space-page) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);

    @media (max-width:900px){
        padding: 0 var(--space-page);
    }

    &__categories{
        display: flex;
        flex-direction: column;
        gap: var(--space-medium);
    }

    &__category{
        display: flex;
        flex-direction: column;
        gap: var(--space-small);

        @media(max-width:900px){
            gap: 0px;
        }
    }

    &__nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: var(--space-small);

        & *{
            font-size: var(--font-ps);
        }
    }

    &__nav-link{
        text-align: center;
    }

}