.contacts{
    padding: var(--space-small) var(--space-page) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
}
.contacts-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}