
<section class="adress">
    <div class="adress__main">
        <h2 class="adress__subtitle subtitle">Наш адресс</h2>
        <p class="adress__text text-muted">г. Солнечногорск, улица Красная, д. 154, 141505</p>
    </div>
    <div class="adress__map" style="position:relative;overflow:hidden;">
        <a href="https://yandex.ru/maps/org/m10_mebel_dekor/102950202669/?utm_medium=mapframe&utm_source=maps" 
            style="position:absolute;top:0px;">М10 Мебель & Декор</a>
        <iframe src="https://yandex.ru/map-widget/v1/org/m10_mebel_dekor/102950202669/?ll=36.968746%2C56.193908&z=17.14" 
            frameborder="0" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
</section>
