<div style="position:relative;overflow:hidden;">
    <a href="https://yandex.ru/maps/org/m10_mebel_dekor/102950202669/?utm_medium=mapframe&utm_source=maps" 
    style="color:#eee;font-size:12px;position:absolute;top:0px;">М10 Мебель & Декор</a>
    <a href="https://yandex.ru/maps/10755/solnechnogorsk/category/shopping_mall/184108083/?utm_medium=mapframe&utm_source=maps" 
    style="color:#eee;font-size:12px;position:absolute;top:14px;">Торговый центр в Солнечногорске</a>
    <a href="https://yandex.ru/maps/10755/solnechnogorsk/category/ceramic_tile/184107995/?utm_medium=mapframe&utm_source=maps" 
    style="color:#eee;font-size:12px;position:absolute;top:28px;">Керамическая плитка в Солнечногорске</a>
    <iframe src="https://yandex.ru/map-widget/v1/org/m10_mebel_dekor/102950202669/?ll=36.968746%2C56.193908&z=17.14" 
    width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>