<div class="companies-grid__company">
    <p class="companies-grid__company-item companies-grid__company-left text-usual">@@companyCategories</p>
    <div class="companies-grid__company-item companies-grid__company-center">
        <p class="companies-grid__company-name text-muted">@@companyNameDisplay</p>
        <div class="companies-grid__company-logo">
            <img src="assets/images/@@companyNameSlug.webp" alt="" class="companies-grid__company-logo-img">
        </div>
    </div>
    <p class="companies-grid__company-item companies-grid__company-right text-muted">@@companyMinInfo</p>
</div>