<div class="companies-grid__row">
    <p class="companies-grid__row-item companies-grid__row-item-left text-usual">@@companyCategories</p>
    <div class="companies-grid__row-item companies-grid__row-item-center">
        <p class="companies-grid__comapany-name text-muted">@@companyNameDisplay</p>
        <img src="assets/images/@@companyNameSlug.webp" alt="" class="companies-grid__comapany-logo">
    </div>
    <p class="companies-grid__row-item companies-grid__row-item-right text-muted">@@companyMinInfo</p>
</div>