<header class="header">
    <div class="header__top">
        <a href="" class="header__logo-link">
            <img class="header__logo" src="/assets/images/logo-m10.svg" alt="">
        </a>
        <nav class="header__nav">
            <a href="index.html" class="header__nav-link">Главная</a>
            <a href="" class="header__nav-link">Магазины и услуги</a>
            <a href="" class="header__nav-link">Акции</a>
            <a href="" class="header__nav-link">Аренда</a>
            <a href="" class="header__nav-link">Контакты</a>
        </nav>
    </div>
    <div class="header__bottom">
        <p class="header__descriptor">ТЦ M10 Мебель & Декор</p>
        <div class="header__contacts">
            <p class="header__contact-item">г. Солнечногорск, улица Красная, д. 154</p>
            <p class="header__contact-item">+7 (916) 100-37-18</p>
        </div>
    </div>
</header>