<header class="header" id="header">
    <div class="header__top">
        <a href="index.html" class="header__logo-link">
            <img class="header__logo" src="assets/images/logo-m10.svg" alt="">
        </a>
        <nav class="header__nav">
            <a class="header__nav-close" href="#" onclick="history.back(); return false;">
                <img src="assets/images/close.svg" alt="НАЗАД">
            </a>
            <a class="header__nav-menu" href="navigation.html">
                <img src="assets/images/menu.svg" alt="МЕНЮ">
            </a>
            <a href="index.html" class="header__nav-link link-nav">Главная</a>
            <a href="companies.html" class="header__nav-link link-nav">Магазины и услуги</a>
            <a href="news.html" class="header__nav-link link-nav">Акции</a>
            <a href="rent.html" class="header__nav-link link-nav">Аренда</a>
            <a href="contacts.html" class="header__nav-link link-nav">Контакты</a>
        </nav>
    </div>
    <div class="header__bottom">
        <a href="index.html" class="header__descriptor text-accent">ТЦ M10 Мебель & Декор</a>
        <div class="header__contacts">
            <p class="header__contact text-muted">г. Солнечногорск, улица Красная, д. 154</p>
            <a href="tel:+79161003718" class="header__contact text-muted">+7 (916) 100-37-18</a>
        </div>
    </div>
</header>