// --base--
@use 'base/variables';
@use 'base/typography';

// --components--
@use 'components/header';
@use 'components/footer';
@use 'components/card-company';
@use 'components/button';
@use 'components/companies-grid';
@use 'components/adress';


// --pages--
@use 'pages/index';
@use 'pages/navigation';
@use 'pages/companies';
@use 'pages/company';
@use 'pages/news';
@use 'pages/rent';
@use 'pages/contacts';



html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, iframe{
  display: block;
}

.scroll-up{
  position: fixed;
  bottom: var(--space-medium);
  right: var(--space-medium);
  background-color: white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--orange) 1px solid;
  box-shadow: var(--shadow-orange);
}

.main{
  display: flex;
  flex-direction: column;
  gap: var(--space-section);
  padding: 0 0 var(--space-small);
  
  @media(max-width: 900px){
    padding: 12px 0;
  }
}
.page-main > main{
  @media(max-width: 900px){
    padding-top: 0;
  }
}