@use 'base/variables';

@use 'base/typography';

@use 'components/header';

@use 'components/footer';

@use 'components/navigation';

//@use 'components/footer';

html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.scroll-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: white;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orange) 1px solid;
}