@use 'base/variables';

@use 'base/typography';

@use 'components/header';

@use 'components/footer';

@use 'components/navigation';

@use 'components/index';

@use 'components/card-company';

@use 'components/button';

@use 'components/companies';

@use 'components/companies-grid';

@use 'components/company';

@use 'components/news';

//@use 'components/footer';

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.scroll-up{
    position: fixed;
    bottom: var(--space-medium);
    right: var(--space-medium);
    background-color: white;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--orange) 1px solid;
    box-shadow: var(--shadow-orange);
}

.main{
  display: flex;
  flex-direction: column;
  gap: var(--space-section);
  padding: 0 0 var(--space-small);
  @media(max-width: 900px){
    padding: 12px 0;
  }
}